<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthorizationCodeExample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthorizationCodeExample.styles.css" asp-append-version="true" />
    <script type="text/javascript">
        url = new URL(window.location.href);
        console.log("This is the URL: " + url);
        console.log(url.searchParams.get('code'));
        if(url.searchParams.get('code')){
            console.log("You got a code.");
            console.log(url.searchParams.get('code'));
            const getToken = () => {
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "/token");
                xhr.send(url.searchParams.get('code'));
                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === 4) {
                        console.log(xhr.responseText);
                        var jsonResponse = JSON.parse(xhr.responseText);
                        console.log(jsonResponse["access_token"]);
                    }
                });
            };
            getToken();
            
        }else{
            console.log("You don't have a code.");
            window.location.assign("https://identity.fortellis.io/oauth2/aus1p1ixy7YL8cMq02p7/v1/authorize?client_id={youAPIKey}&response_type=code&scope=openid&redirect_uri=http://localhost:{yourPort}/&state=f8f5df39-cac3-41ea-a56c-6f6cf18f1be7");
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AuthorizationCodeExample</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AuthorizationCodeExample - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
